{% extends 'layout.html' %}

{% block content %}
<audio controls="controls" autoplay="autoplay" src="{{ url_for('static', filename='output.mp3') }}" type="audio/mpeg"></audio>

<!-- Form som tar in en "Input" text som sedan ska skickas till tts.py i JARVIS för att göra om till ljud och spela upp ovan -->

<div class="container">
  <form action="/tts" method="POST">
    <div class="form-group">
      <label for="Input">Input</label>
      <input class="form-control" id="input" name="Input" placeholder="Enter text">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
